/*NAVBAR*/

.topnav {
    background-color: transparent !important;
    overflow: hidden;
    padding-left: 559px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #6BA85A;
    color: #004B30;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*FIM - NAVBAR*/

/*TOPO-GREEN CODE*/

.backgroundImageHome {
    background: url("../image/background.jpg") no-repeat center center;
    background-size: 1905px 922px;
}

.imageBackground {
    height: 509px;
    margin-top: 213px;
    background-color: transparent;
}

.container .row h1 {
    width: 681.02px;
    height: 107px;
    left: 379.95px;
    top: 175px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 100px;
    border: 2px solid #6BA85A;
    box-sizing: border-box;
    background: #6BA85A;
    color: #FFFFFF;
}

.container .row p {
    width: 540px;
    height: 42px;
    left: 468px;
    top: 318px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    color: #FFFFFF;
    background: #004B30;
}

.botoes {
    padding-left: 150px;
}

.btnDefault1 {
    width: 467px;
    height: 85px;
    left: 243px;
    top: 428px;
    cursor: pointer;
    color: #FFFFFF !important;
    border: 4px solid #004B30 !important;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent !important;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.btnDefault2 {
    width: 467px;
    height: 85px;
    left: 730px;
    top: 427px;
    cursor: pointer;
    color: #FFFFFF !important;
    background: #004B30 !important;
    border-radius: 10px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

/*FIM (TOPO-GREEN CODE)*/

/*QUEM É A GREN CODE/OBJETIVO*/

.backgroundDefault1 {
    background-color: white;
    margin: 100px;
}

.whoIsGreenCode h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #1F1F1F;
    padding-left: 120px;
}

.whatOurGoal h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #1F1F1F;
    padding-left: 60px;
    padding-right: 78px;
}

.whoIsGreenCode p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    padding-left: 120px;
    padding-right: 35px;
}

.whatOurGoal p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    padding-right: 120px;
    padding-left: 60px;
}

.btnSignDefault {
    background: #6BA85A;
    width: 467px;
    height: 85px;
    left: 487px;
    top: 1146px;
    margin: 2% 0%;
    cursor: pointer;
    border: 4px solid #6BA85A;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 140px;
}

.btnSignDefault:focus {
    background-color: thistle;
}

/*FIM (QUEM É A GREN CODE/OBJETIVO)*/

/*AJUDE NOS A RECICLAR*/

.help h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-top: 100px;
    color: #004B30;
}

.color1 {
    width: 720px;
    height: 580px;
    left: 0px;
    top: 1515px;
    background: #004B30;
}

.color2 {
    width: 720px;
    height: 580px;
    left: 720px;
    top: 1515px;
    background: #6BA85A;
    background-color: #6BA85A;
}

.color3 h4 {
    margin-top: 84px;
    padding-left: 115px;
    width: 106px;
    height: 50px;
    left: 243px;
    top: 1581px;
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
}

.color3 p {
    padding-left: 44px;
    width: 583px;
    height: 350px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 50px;
    color: #FFFFFF;
}

.imgGarrafa {
    position: absolute;
    width: 121px;
    height: 116px;
    top: 1610px;
    background: url("../image/Garrafa.png") no-repeat;
}

@media only screen and (max-width: 1600px) {
    .imgGarrafa {
        top: 1639px;
    }
    .botoes {
        padding-left: 69px;
    }
    .topnav {
        padding-left: 392px;
    }
    .backgroundImageLixo .row {
        left: 979px;
        top: 2213px;
        position: absolute;
        width: 598px;
        height: 307px;
        background-color: rgba(0, 32, 64, 0.3);
    }
}

/*FIM (AJUDE NOS A RECICLAR)*/

/*PARE DE SUJAR O PLANETA*/

.backgroundImageLixo {
    height: 700px;
    background: url("../image/GroupImgs.jpg") no-repeat center center;
    background-size: cover;
}

.backgroundImageLixo .row {
    left: 1214px;
    top: 2189px;
    position: absolute;
    width: 604px;
    height: 307px;
    background-color: rgba(0, 32, 64, 0.3);
}

.backgroundImageLixo .row p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    color: #FFFFFF;
}

.backgroundImageLixo .row h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

/*FIM (PARE DE SUJAR O PLANETA)*/

/*PLATAFORMAS*/

.backgroundGreen {
    width: 1439px;
    height: 760px;
    left: 0px;
    top: 2863px;
    background: #004B30;
}

.imgPlataformas {
    position: absolute;
    width: 610px;
    height: 226px;
    left: 730px;
    top: 3219px;
    background: url("../image/Plataformas.png") no-repeat
}

.imgCelular {
    height: 509px;
    margin-top: 65px;
    margin-left: 119px;
    background: url("../image/celular.png") no-repeat
}

.imgRetangulo {
    position: absolute;
    width: 487px;
    height: 10px;
    left: 730px;
    top: 3141px;
    background: #FFFFFF;
    background: url("../image/retangulo.png") no-repeat
}

.backgroundGreen .imgCelular h1 {
    position: absolute;
    width: 588px;
    height: 150px;
    left: 730px;
    top: 3137px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #6BA85A;
}

.backgroundGreen .imgCelular p {
    position: absolute;
    width: 588px;
    height: 84px;
    left: 685px;
    top: 2999px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

/*FIM (PLATAFORMAS)*/

/*FOOTER*/

.footer {
    width: 1439px;
    height: 370px;
    left: 0px;
    top: 3588px;
    background: #FFFFFF;
}

.footer p {
    width: auto;
    height: 36.04px;
    left: 122px;
    top: 3634.34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: rgba(107, 168, 90, 0.5);
}

.footer ul {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 200%;
    padding-top: 50px;
    margin-left: 40px;
}

.footer ul li a {
    color: black;
}

.imgRedeSocial {
    position: absolute;
    width: 136px;
    height: 56px;
    left: 1407px;
    top: 3864px;
    background: url("../image/redeSocial.png") no-repeat
}

/*FIM (FOOTER)*/

/* ESTILIZAÇÃO FORMULARIO DE LOGIN */

.fundo-login {
    min-height: 100vh;
    background-color: #004B30;
    background: url("../image/fundo-login.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    position: absolute;
}

.text-topo h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.buttom-back {
    width: 467px;
    height: 85px;
    cursor: pointer;
    color: #FFFFFF !important;
    border: transparent !important;
    background: transparent !important;
    border-radius: 10px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.text-topo p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.box-login {
    width: 466px;
    height: 580px;
    left: 555.41px;
    top: 229.72px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 38%;
}

.box-login h1 {
    font-size: 2.5em;
    padding: 0px 10px;
    color: var(--cinza-primario);
    margin-top: 20px;
    margin-left: 20px;
}

.box-login p {
    font-size: 1em;
    padding: 0px 10px;
    color: var(--cinza-primario);
    margin-left: 20px;
}

.box-login p.texto-cadastrese {
    max-width: 400px;
    font-weight: lighter;
    color: var(--cinza-primario);
}

p.texto-cadastrese a {
    font-weight: bold;
    color: var(--verde-secundario);
}

.formulario-login label {
    display: block;
    font-weight: lighter;
    color: #DDD;
}

.formulario-login form {
    display: block;
    padding: 20px;
    margin-left: 20px;
}

.formulario-login input {
    margin-bottom: 15px;
    max-width: 450px;
}

.formulario-login .formulario-linha {
    width: 350px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 10px;
    padding-left: 25px;
}

.checked-box {
    margin-left: 13px;
    margin-top: 13px;
}

.checkmark {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: black;
}

.formulario-login input[type="submit"] {
    width: 250px;
    height: 65px;
    background: #26BF4C;
    border-radius: 10px;
    border: transparent !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-left: 16%;
    margin-top: 30px;
    color: #FFFFFF;
}

.textErrorLogin {
    font-weight: bold;
    font-size: 1.5em;
    color: #e25353 !important;
    padding: 12px;
}

.formulario-login .link-esqueciSenha {
    text-align: center;
    display: block;
    margin-right: 16px;
    color: var(--verde-secundario) !important;
    font-weight: bold;
}

/*
    PÁGINA DE CADASTRO
*/

.fundo-cadastro {
    background: #004B30;
    background: url("../image/fundo-cadastro.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: absolute;
}

.box-cadastros {
    width: 100%;
    max-width: 550px;
    padding: 50px;
    background: #FFF;
    border-radius: 7px;
    margin: 3% 3%;
}

.folinha {
    background: url("../image/folinha.png") no-repeat right;
    margin-right: 60px;
}

.box-cadastros h1 {
    font-size: 2.5em;
    padding: 0px 10px;
    color: var(--cinza-primario);
    margin-top: 20px;
}

.box-cadastros p {
    font-size: 1em;
    padding: 0px 10px;
    color: var(--cinza-primario);
}

.formulario-cadastro label {
    display: block;
    font-weight: lighter;
    color: #DDD;
}

.formulario-cadastro form {
    display: inline;
    padding: 10px;
    margin-left: 20px;
}

.formulario-cadastro input {
    width: 282px;
    height: 65px;
    background: #26BF4C;
    border: 1px solid #26BF4C;
    box-sizing: border-box;
    border-radius: 10px;
    color: black;
}

.campos-metade {
    float: left;
    width: 47%;
    margin-right: 10px;
}

.campos-metade label {
    display: inline-block;
    width: 45%;
}

.campos-metade input {
    width: 100%;
}

.formulario-cadastro input[type="submit"] {
    max-width: 200px;
    height: 45px;
    margin: 30px 0px;
    outline: none;
}

/*
    PÁGINA DE BOAS VINDAS
*/

.fundo-welcome {
    height: 100vh;
}

.message-welcome {
    margin: 5% 0;
    position: absolute;
    width: 710px;
    height: 168px;
    left: 122px;
    top: -42px;
}

.message-welcome h1 {
    font-size: 5em;
    margin: 20px 0;
}

.message-welcome .box-welcome-message {
    padding: 20px;
    background: var(--verde-secundario);
    border-radius: 10px;
    position: absolute;
    width: 588px;
    height: 300px;
    left: 3px;
    top: 233px;
}

.box-welcome-message p {
    font-size: 1.3em;
    color: #FFF;
    line-height: 200%;
    padding: 20px;
}

.message-welcome button {
    color: #FFF;
    font-size: 1.3em;
    outline: none;
    border-color: var(--verde-primario);
    margin-top: 70px;
    cursor: pointer;
    position: absolute;
    width: 466px;
    height: 80px;
    left: 122px;
    top: 539px;
    background: #26BF4C;
    border-radius: 10px;
}

.banner-welcome {
    background: #009944;
    background: url("../image/fundo-welcome.gif") no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 561px;
    height: 787px;
    left: 864px;
    top: 12px;
}

/*DASHBOARD*/

.informacoes-usuario h1 {
    position: absolute;
    width: 345px;
    height: 116px;
    left: 122px;
    top: 137.33px;
}

.informacoes-usuario .text1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 121.19%;
}

.informacoes-usuario .text2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 121.19%
}

.btn-logout {
    background: url("../image/sair.png") no-repeat center center;
    width: 43px;
    height: 44px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 32%;
    left: 270px;
}

.btn-user {
    background: url("../image/pessoinha.png") no-repeat center center;
    cursor: pointer;
    width: 43px;
    height: 44px;
    border: none;
    position: absolute;
    top: 32%;
    left: 200px;
}

.btn-notification {
    background: url("../image/sininho.png") no-repeat center center;
    cursor: pointer;
    width: 43px;
    height: 44px;
    border: none;
    position: absolute;
    top: 32%;
    left: 125px;
}

.congratulations {
    position: absolute;
    width: 588px;
    height: 87px;
    left: 730px;
    top: 130.33px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 121.19%;
    color: #3E3E3E;
}

.box-pontos {
    position: absolute;
    width: 223px;
    height: 88.58px;
    left: 730px;
    top: 272.92px;
    background: #26BF4C;
    border-radius: 10px;
}

.box-pontos p {
    text-align: center;
    height: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 121.19%;
    color: #FFFFFF;
}

.box-itens {
    position: absolute;
    width: 344px;
    height: 88.58px;
    left: 974px;
    top: 272.92px;
    background: #004B30;
    border-radius: 10px;
}

.box-itens p {
    text-align: center;
    height: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 121.19%;
    color: #FFFFFF;
}

.secao-objetivo p {
    position: absolute;
    width: 266px;
    height: 29px;
    left: 122px;
    top: 396.79px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 121.19%;
    color: #3E3E3E;
}

.desafio1 {
    position: absolute;
    width: 466px;
    height: 123.7px;
    left: 122px;
    top: 456.63px;
    background: #F5F7F8;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.img-verdin {
    background: url("..//image/verdin.png")no-repeat;
    height: 100%;
    margin-top: 50px;
    margin-left: 27px;
}

.desafio1 p {
    position: absolute;
    width: 356.19px;
    height: 44px;
    left: 81.9px;
    top: 15.48px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 121.19%;
    color: #3E3E3E;
}

.desafio2 {
    position: absolute;
    width: 466px;
    height: 123.7px;
    left: 1px;
    top: 153.8px;
    background: #F5F7F8;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.desafio2 p {
    position: absolute;
    width: 356.19px;
    height: 44px;
    left: 76.9px;
    top: 29px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 121.19%;
    color: #3E3E3E;
}

.marktplace {
    position: absolute;
    width: 495px;
    height: 58px;
    left: 758px;
    top: 476.17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 121.19%;
    color: #3E3E3E;
}

.marktplace-green {
    position: absolute;
    width: 345px;
    height: 71.05px;
    left: 852px;
    top: 646.43px;
    background: #26BF4C;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 121.19%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}